<div *ngIf="post; else genericQuote" class="card mb-3">
  <div class="card-header post-header">
    <div class="post-date" (click)="goToPost()">
      {{ post.postDate }}
    </div>
    <div class="dropend">
      <div
        class="options-icon"
        data-bs-toggle="dropdown"
        data-bs-auto-close="true"
        aria-expanded="false"
      >
        <img src="../../../assets/ellipsis-solid.svg" alt="three dots" />
      </div>
      <ul class="dropdown-menu">
        <li><div class="dropdown-item" (click)="sharePost()">Share</div></li>
        <li><hr class="dropdown-divider" /></li>
        <li>
          <div class="dropdown-item text-danger" (click)="deletePost()">Delete</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-body" (click)="goToPost()">
    <blockquote class="blockquote mb-0">
      <p>{{ post.postContent }}</p>
      <img *ngIf="post.imageUrl != ''" src="{{ post.imageUrl }}" alt="" srcset="" />
    </blockquote>
  </div>
</div>

<ng-template #genericQuote>
  <div class="card mb-3">
    <div class="card-header">Today's Quote</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Do or do not. There is no try.</p>
        <footer class="blockquote-footer">Yoda</footer>
      </blockquote>
    </div>
  </div>
</ng-template>
