<div *ngIf="postData; else genericQuote" class="card mb-3" (click)="goToPost()">
  <div class="card-header">
    {{ postData.post_date }}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ postData.post_content }}</p>
      <img *ngIf="postData.image_url != ''" src="{{ postData.image_url }}" alt="" srcset="" />
    </blockquote>
  </div>
</div>
<ng-template #genericQuote>
  <div class="card mb-3">
    <div class="card-header">Today's Quote</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Do or do not. There is no try.</p>
        <footer class="blockquote-footer">Yoda</footer>
      </blockquote>
    </div>
  </div>
</ng-template>
