<div *ngIf="post; else genericQuote" class="card mb-3" (click)="goToPost()">
  <div class="card-header">
    {{ post.postDate }}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{ post.postContent }}</p>
      <img *ngIf="post.imageUrl != ''" src="{{ post.imageUrl }}" alt="" srcset="" />
    </blockquote>
  </div>
</div>
<ng-template #genericQuote>
  <div class="card mb-3">
    <div class="card-header">Today's Quote</div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Do or do not. There is no try.</p>
        <footer class="blockquote-footer">Yoda</footer>
      </blockquote>
    </div>
  </div>
</ng-template>
